{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{ user.username }}の情報</title>
</head>

<body>
    <h1>
        熟語リレー
    </h1>
    <h2>
        <a href="{% url 'game:start' pk=user.pk %}">ゲーム開始</a><br>
        <a href="{% url 'game:detail' pk=user.pk %}">成績</a><br>
        <a href="{% url 'logout'%}">ログアウト</a><br>
        <a href="{% url 'home' %}">ホーム</a><br>
    </h2>
    <h3>
        Name :{{ user.username }}<br>
        EMail :{{ user.email }}<br>
        Created:{{ user.date_joined }}<br>
    </h3>
</body>

</html>
