<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>漢字どりる</title>
</head>

<body name="body">
    <h1 name="rally">
        熟語リレー<br>
        {{ play.last }}
    </h1>
    {% if play.jukugo != '' %}
    <form action="" method="post" name="current">
        <h2>
            前の漢字:
            <center name="jukugo-last">
                <big name="jukugo-big">
                    {{ last }}
                </big>
            </center>
        </h2>
        <h3 name="jukugo-input">
            {% csrf_token %}
            {{ current.as_p }}
            <button type="submit" value="{{ request.path }}">提出する</button>
        </h3>
    </form>
    {% else %}
    <h2>redirecting...</h2>
    {% endif %}
</body>

</html>
